<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>brU-S-A</title>
  
  <link rel="stylesheet" href="/stylesheets/vendor/normalize.css">
  <link rel="stylesheet" href="/stylesheets/vendor/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/styles.css">

  <script src="/js/vendor/d3.js"></script>
  <script src="/js/vendor/topojson.js"></script>



</head>
<body>



	<%= yield %>




  <script src="/js/brewery_map.js"></script>
  <script src="/js/vendor/datamaps.js"></script>
  <script src="/js/vendor/jquery.js"></script>
  <script src="/js/vendor/jquery.smoove.js"></script>
  <script src="/js/vendor/underscore.js"></script>
  <script src="/js/vendor/backbone.js"></script>
  <script src="/js/vendor/bootstrap.js"></script>
  <script src="/js/vendor/fluxslider.js"></script>
  <script src="/js/backbone/models/models.js"></script>
  <script src="/js/backbone/collections/collections.js"></script>
  <script src="/js/backbone/views/beer.js"></script>
  <script src="/js/backbone/views/brewery.js"></script>
  <script src="/js/backbone/views/user.js"></script>
  <script src="/js/backbone/views/style.js"></script>
  <script src="/js/backbone/routers/beer.js"></script>
  <script src="/js/backbone/routers/brewery.js"></script>
  <script src="/js/backbone/routers/user.js"></script>
  <script src="/js/scripts.js"></script>
	

</body>
</html>