<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>brU-S-A</title>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="http://d3js.org/topojson.v1.min.js"></script>

</head>
<body>

	<%= yield %>



	<script src='/javascripts/vendors/jquery.js'></script>
  <script src='/javascripts/vendors/underscore.js'></script>
  <script src='javascripts/vendors/backbone.js'></script>

  <script src='/javascripts/models.js'></script>
  <script src='/javascripts/collections.js'></script>
  <script src='/javascripts/views.js'></script>
  <script src='/javascripts/router.js'></script>
  <script src='/javascripts/scripts.js'></script>
	


</body>
</html>