<script type="text/template" id="beer-style-template">

<%= erb :"navigation/_page_navigation" %>

<div class="center_wrapper">
	<h1><%%= style.name %></h1>


	<div class="style-info">
		<p><span>Description: </span><%%= style.description %></p>
	</div>
	<div class="style-info">
		<div class="bar-chart">
			<div class="center-text">
				<h3>ABV Distribution</h3>
			</div>
		</div>
	</div>


	<div class="search-statement">
		<h2>Top Rated <%%= style.name %>s</h2>
	</div>
	<table style="margin-bottom: 100px" class="table table-striped">
			 <TR>
	      <TH>Beer</TH>
	      <TH>Brewery</TH>
	      <TH>Avg. Rating</TH>
	   	</TR>
	  <%% style.beers.forEach(function(beer){  %>
	  	<TR>
	     	<TD><a href="/#beers/<%%= beer.id %>"><%%= beer.name %></a></TD>
	      <TD><a href="/#breweries/<%%= beer.brewery_id %>"><%%= beer.brewery_name %></a></TD>
	      <TD><%%= beer.avg_rating %></TD>
	   	</TR>
	  <%% }) %>
	 </table>

</div>

</script>