<script type="text/template" id="beer-piechart-template">


<div class="minimum-height">
	<div class="flux_wrap">
		<div class="center_wrapper">
			<div class="flux_container_beers">
				<div id="slider">
					<a href="/#beers/28052"><img title="Kona ~ Longboard Lager" src="/images/beer18.png" alt="" /></a>
			    <a href="/#beers/3860"><img title="Dogfish Head ~ 90 Minute" src="/images/beer17.png" alt="" /></a>
			    <a href="/#beers/49935"><img title="Westbrook ~ One Claw" src="/images/beer16.png" alt="" /></a>
				</div>
			</div>

			<div class="flux_container_beers">
				<div id="slider2">
					<a href="/#beers/44979"><img title="Stone ~ Smoked Porter" src="/images/beer14.png" alt="" /></a>
			    <a href="/#beers/21293"><img title="Goose Island ~ IPA" src="/images/beer13.png" alt="" /></a>
			    <a href="/#beers/49278"><img title="Victory ~ Golden Monkey" src="/images/beer15.png" alt="" /></a>
				</div>
			</div>

			<div class="flux_container_beers">
				<div id="slider3">
					<a href="/#beers/29075"><img title="Left Hand Brewery ~ Nitro" src="/images/beer12.png" alt="" /></a>
			    <a href="/#beers/5150"><img title="Bell's ~ Oberon" src="/images/beer11.png" alt="" /></a>
			    <a href="/#beers/45643"><img title="Sweetwater ~ 420" src="/images/beer10.png" alt="" /></a>
				</div>
			</div>

			<div class="flux_container_beers">
				<div id="slider4">
					<a href="/#beers/4942"><img title="Terrapin ~ Rye Pale Ale" src="/images/beer9.png" alt="" /></a>
			    <a href="/#beers/49291"><img title="Victory ~ Hopdevil" src="/images/beer8.png" alt="" /></a>
			    <a href="/#beers/9515"><img title="Brooklyn Brewery ~ Lager" src="/images/beer7.png" alt="" /></a>
				</div>
			</div>

			<div class="flux_container_beers">
				<div id="slider5">
					<a href="/#beers/"><img title="Highland ~ Gaelic Ale" src="/images/beer6.png" alt="" /></a>
			    <a href="/#beers/"><img title="Duvel ~ Tripel Hop" src="/images/beer5.png" alt="" /></a>
			    <a href="/#beers/49072"><img title="Winter Solstice" src="/images/beer4.png" alt="" /></a>
				</div>
			</div>

			<div class="flux_container_beers">
				<div id="slider6">
					<a href="/#beers/8358"><img title="Great Divide ~ Yeti" src="/images/beer3.png" alt="" /></a>
			    <a href="/#beers/1008"><img title="Rogue ~ Dead Guy Ale" src="/images/beer2.png" alt="" /></a>
			    <a href="/#beers/40667"><img title=" Breckenridge Brewery ~ Vanilla Porter" src="/images/beer1.png" alt="" /></a>
				</div>
			</div>
		</div>
	</div>

	



	<div class="piechart">
		<div class="center-text">
			<h1>Browse By Style</h1>
		</div>
	</div>
</div>
<script src="/js/beer_piechart.js"></script>
</script>