<script type="text/template" id="brewery-map-template">

	<%= erb :"navigation/_page_navigation" %>

	<div class="flux_wrap">
		<div class="brewery_wrapper">
			<div class="brew_flux_container">
				<div id="brewslider">
					<a href="/#breweries/2225"><img title="Westbrook Brewing Company" src="/images/westbrook_brewery.png" alt="" /></a>
					<a href="/#breweries/438"><img title="Brooklyn Brewery" src="/images/brooklyn_brewery.png" alt="" /></a>
			    <a href="/#breweries/215"><img title="Terrapin Beer Company" src="/images/terrapin_brewery.png" alt="" /></a>
			    <a href="/#breweries/2038"><img title="Sweetwater Breweing Company" src="/images/sweetwater_brewery.png" alt="" /></a>
				</div>
			</div>
		</div>
	</div>


	<div class="map_wrapper">
		<h2>Explore Breweries by State</h2>
		<div id="map"></div>
	</div>

	


</script>