<script type="text/template" id="home-page-template">

	<div class="sticky-background">
		<h1>Find Your Favorite Beer</h1>
		<h1>And Breweries From Across the Great USA</h1>
	</div>


	<div class="margin-container">
		<h1>Explore Brewfinder</h1>

		<div class="find-router float-left" data-move-x="-200px">
			<a href="/#beers"><div class="beer-route">
				<h3>beers</h3>
			</div></a>
		</div>
		
		<div class="find-router float-right">
			<a href="/#breweries"><div class="brewery-route">
				<h3>breweries</h3>
			</div></a>
		</div>
	</div>

</script>